/* COLOR GUIDE
 * HIGHLIGHT #E91E63
 * LINK      #1E88E5;
 * TITLE     #1A237E;
 */

/* general styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
  background:  white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: black;
}
a {
  color:  #1E88E5;
}
a[onclick] {
  cursor: pointer;
}
nav, h1, h2, h3, h4,
.return, .highlight {
  font-family:  "Montserrat", sans-serif;
}
h1, h2, h3, h4 {
  color: #1A237E;
}
h1 {
  letter-spacing: -0.5px;
}
h1 sup {
  font-size: 0.4em;
  line-height: 1.5;
  vertical-align: top;
}
h1 span, .highlight {
  display: block;
  font-size: 0.5em;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #E91E63;
}
.highlight {
  letter-spacing: 0;
  font-size: 1em;
}
.small {
  font-size: 0.67em;
  font-weight: 400;
}
.highlight.inline {
  font-weight: 400;
  display: inline;
  text-transform: none;
}
h2, h3 {
  margin-top: 1em;
  margin-bottom: 0;
}
a[id] ~ p, h3 ~ p {
  margin-top: 0.5em;
}

/* bdsa link */
.return a {
  text-decoration: none;
  font-size: 0.8em;
}
.return a::before {
  content: '\276E';
  padding-right: 4px;
  font-size: 0.9em;
  display: inline-block;
  transform: translate(0);
  transition: 0.3s ease;
}
.return a:hover::before {
  transform: translate(-2px);
}

/* layout and nav styles */
#sectionLeft {
  position: fixed;
  width: 30%;
  top: 0;
  height: 100%;
  text-align: right;
  background: rgba(0,0,0,0.05);
  margin: 0;
  border: 0 solid #E91E63;
  border-width: 0 2px 0 0;
  padding: 1em;
  overflow: auto;
  cursor: default;
}
#sectionLeft p {
  /* max-width: 270px; */
  float: right;
  padding: 0.5em 0;
  margin-top: 0;
  border-top: 1px dotted rgba(0,0,0,0.25);
}
blockquote {
  background: #ddd;
  margin: 1em 0;
  padding: 1em;
  line-height: 1.4;
}
nav {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2.5;
  margin: 1em -1em;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  padding: 0 1em;
}
nav .active {
  background: #E91E63;
  color: white;
  font-weight: 700;
}
.sub a {
  text-transform: none;
  background: #E91E63;
  line-height: 1.5;
  padding: 0.4em 1em;
  color: white;
  text-decoration: underline;
  font-size: 0.8em;
}
.sub a:last-child {
  padding-bottom: 1em;
}

#container {
  padding-left: calc(30% + 1em);
  padding-right: 1em;
  max-width: calc(30% + 720px);
  padding-bottom: 2em;
}
#container > p {
  line-height: 1.4;
}

/* mobile/small screen layout, starting point for print */
@media screen and (max-width: 720px), print {
  #sectionLeft {
    position: static;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.05);
    margin: 0;
    border-width: 0 0 2px 0;
    padding: 1em;
    overflow: auto;
    cursor: default;
  }
  nav :not(.sub) > a {
    display: inline-block;
  }
  nav .active {
    display: block;
    width: 100%;
  }
  #container {
    padding: 0 1em 2em 1em;
    font-size: 0.85em;
  }
  #sectionLeft p {
    max-width: none;
  }
}
@media print {
  /* hide navigation, "back" link, source links */
  nav, .return, #container sup a {
    display: none;
  }
  #container sup {
    /* don't change line height for real <sup>s */
    vertical-align: text-top;
    font-size: 0.5em;
  }
  #sectionLeft {
    text-align: left;
  }
  #container {
    font-size: 1em;
  }
}

/* tables and schedules */
table {
  border-collapse: collapse;
  min-width: 100%;
  overflow: auto;
  border: 1px solid black;
  margin-top: 0.5em;
}
td, th {
  padding: 4px;
  border: 1px solid black;
  border-style: solid dotted;
}
.schedule {
  table-layout: fixed;
  width: 100%;
}
.schedule thead td {
  width: 2em;
}
.schedule thead th {
  width: calc(50% - 2em);
}
.schedule th:first-child {
  height: 2em;
}
.schedule td, .schedule th {
  text-align: center;
}
.schedule .-prep {
  background: #eee;
  color:  #444;
  font-style: italic;
}
.schedule .-ap div {
  background-color: #BBDEFB;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #1E88E5;
  line-height: 1.6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.schedule .-ap div ~ div {
  margin-top: 4px;
}
.schedule .-ap.-is-double-blocked div {
  background-color: #F8BBD0;
  border: 1px solid #E91E63;
}